@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    transition: all 0.5s ease;
    max-width: 100%;
}
.container{
  max-width: 100%;
  padding: 0 15px;
}
.card {
    margin: 16px
}
.card:hover {
    transform: scale(1.05);
}
.sale-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.services{
    line-height: 1.6;
    font-size: 20px;
    font-weight: 300;

}
.customer-feedback{
    background-color:#2c3e50 ;
    color: #fff;
    margin:0;
}
.content-text{
    color: goldenrod;
    font-weight: 700;
    line-height: 1.7;
}
.metrics{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}
.metric h2{
    font-size: 32px;
    margin-top: 5px;
}
.metric p{
    font-size: 14px;
}
.about-us{
    background-color: black;
    color: grey;
   margin-top: 20px;
    border-radius: 20px;
}




@media (max-width: 768px){
    .metrics{
        flex-direction: column;
        align-items: center;
    }
    .metric{
        margin-bottom: 20px;
        text-align: center;
    }
    .content-text{
        text-align: center;
    }
    .about-us{
        padding: 20px;
        text-align: center;
    }
    .navbar-nav{
        flex-direction: column;
        align-items: center;
    }
    .navbar-nav .nav-items{
        margin-bottom: 10px;
    }
}



@media (max-width: 576px) {
    .display-5 {
        font-size: 1.5rem;
    }

    .card-title {
        font-size: 1rem;
    }

    .card-text {
        font-size: 0.9rem;
    }

    .metric h2 {
        font-size: 24px;
    }

    .metric p {
        font-size: 12px;
    }

    .services {
        font-size: 16px;}
    }   
