@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    transition: all 0.5s ease;
    max-width: 100%;
}
.container{
  max-width: 100%;
  padding: 0 15px;
}
.card {
    margin: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    transform: translateY(-10px) scale(1.03) rotate(-1deg);
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}
.card-img-top{
    transition: transform 0.4s ease;
}
.card:hover .card-img-top {
    transform: scale(1.08);
}
.sale-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.services{
    line-height: 1.6;
    font-size: 20px;
    font-weight: 300;

}
.customer-feedback{
    background-color:#2c3e50 ;
    color: #fff;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.content-text{
    color: goldenrod;
    font-weight:700;
    line-height:1.7;
}
.metrics{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}
.metric h2{
    font-size: 32px;
    margin-top: 5px;
}
.metric p{
    font-size: 14px;
}
.about-us{
    background-color: black;
    color: grey;
}




@media (max-width: 768px){
    .metrics{
        flex-direction: column;
        align-items: center;
    }
    .metric{
        margin-bottom: 20px;
        text-align: center;
    }
    .content-text{
        text-align: center;
    }
    .about-us{
        padding: 20px;
        text-align: center;
    }
    .navbar-nav{
        flex-direction: column;
        align-items: center;
    }
    .navbar-nav .nav-items{
        margin-bottom: 10px;
    }
}



@media (max-width: 576px) {
    .display-5 {
        font-size: 1.5rem;
    }

    .card-title {
        font-size: 1rem;
    }

    .card-text {
        font-size: 0.9rem;
    }

    .metric h2 {
        font-size: 24px;
    }

    .metric p {
        font-size: 12px;
    }

    .services {
        font-size: 16px;}
    }

    .card {
        opacity: 0;
        transform: translateY(20px);
        animation: fadeInUp 0.6s ease forwards;
        animation-delay: 0.3s;
        transition: transform 0.4s ease, box-shadow 0.3s ease;
    }
    
    @keyframes fadeInUp {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
